@import "flexboxgrid";
@import "@picocss/pico";
h1 {
    text-align: center;
    margin-top: 1em;
}
hgroup {
    text-align: center;
}
.center {
    text-align: center;
}
.symbol {
    width: 1em;
    height: 1em;
    padding: 0 0.1em;
  }

li[role=list] > a::after {display: none;}

dialog * {
    pointer-events: all;
}